* {
    margin:0;
    padding:0;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #EFECF4;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.user-actions {
    display: flex;
    gap: 5px;
}

.user-actions span {
    padding: 8px 16px;
    border: none;
    display: flex;
    align-items: center;
}

#user-image {
    width: 40px;
    height: 40px;
    background-color: #666;
    border-radius: 50%;
}

#kakao {
    width: 40px;
    height: 40px;
    background-color: #666;
    border-radius: 50%;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-actions {
    display: flex;
    gap: 10px; /* 수정된 부분 */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

.site-name {
    font-size: 18px;
    color: #666;
}

/*본문 영역*/

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 20px;
    position: relative;
    background-color: #EFECF4;
    flex-direction: column;
    padding: 20px; /* 내부 요소의 여백을 위한 패딩 */
}

/* 카드 관련 스타일 */
#card-container {
    position: relative;
    background-color: #EFECF4;
    width: 100%;
    height: 100%;
}

.card {
    position: absolute;
    background-image: url('../images/card.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    transform-origin: center;
    cursor: pointer;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    pointer-events: auto; /* 각 카드에 마우스 이벤트를 활성화 */
}

.card .innerCard {
    width: 100%;
    height: 100%;
    pointer-events: none; /* 자식 요소에서는 마우스 이벤트를 비활성화 */
}

.center-card {
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url('../images/card.jpg');
    background-size: contain; /* 이미지가 잘리지 않도록 조정 */
    background-repeat: no-repeat; /* 이미지 반복 제거 */
    background-position: center; /* 이미지 중앙 정렬 */
    cursor: pointer;
    transform: translate(-50%, -50%);
}

#owl-image {
    width:100px;
    height:150px;
}

#img_section {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-select {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 80px;
}

#card_past, #card_present, #card_future {
    width: 100px;
    height: 150px;
    border: 2px dotted #928f8fbd;
    display: flex;
    align-items: center;
    justify-content: center; /* 내용이 중앙에 오도록 조정 */
    border-radius: 20%;
}

#showResult {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    background-color: #906DAC; /* footer의 save 버튼과 같은 색상 */
    color: white;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 4px; /* footer 버튼과 같은 border-radius */
    cursor: pointer; /* cursor 모양을 pointer로 변경 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.card-labels{
    position: absolute;
    bottom: 60%;
    display: flex;
    gap: 80px;
}

#labels_past, #labels_present, #labels_future {
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center; /* 내용이 중앙에 오도록 조정 */
}


