body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    margin: 0;
    background-color: white; /* 배경 색상 */
}

.container {
    padding: 2em;
    width: 300px;
    text-align: center;
}

.form-container {
    display: none;
}

.form-container.active {
    display: block;
}

.input-group {
    margin-bottom: 1em;
}

.input-group label {
    display: block;
    margin-bottom: 0.5em;
}

.input-group input {
    width: calc(100% - 40px); /* 로그인 버튼의 폭(20px)을 제외한 남은 공간을 차지합니다. */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 3px;
    
}

button {
    width: calc(100% - 20px); /* 입력 블록의 폭(10px * 2)을 제외한 남은 공간을 차지합니다. */
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #28a745;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.full-width {
    width: 95%;
    margin-top: 1em;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 1em;
}

.hidden {
    display: none;
}

.button-group {
    display: flex;
    margin-top: 1em;
    gap: 1px
}
.button-group div {
    font-size: 10px; /* 원하는 크기로 조정합니다. */
}


.button-group button {
    background-color: transparent;
    margin-top: 5px;
    width: 20%;
    font-size: 0.8em;
    border: none;
    color: #555;
    border-radius: 0; /* 로그인 블록 테두리 제거 */
}

.button-group button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.image-button {
    /* display: flex; */
    float: center;
    justify-content: center;
    align-items: center;
    width: 50px; /* 이미지 버튼의 너비 조정 */
    height: 50px; /* 이미지 버튼의 높이 조정 */
    background-color: palegoldenrod; /* 이미지 버튼의 배경색 조정 */
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.image-button img {
    width: 100%; /* 이미지의 너비를 이미지 버튼의 80%로 조정 */
    height: auto; /* 이미지의 높이를 자동으로 조정하여 비율 유지 */
    max-width: 100%; /* 이미지가 버튼을 넘어가지 않도록 최대 너비 설정 */
    max-height: 100%; /* 이미지가 버튼을 넘어가지 않도록 최대 높이 설정 */
}


